#transactions {
  position: relative;
  min-height: 100vh;
}
.module {
  position: absolute;
  inset: 10vh 20vw;
  border: 2px solid #290a30ff;
  box-shadow: 0px 0px 32px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 32px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 32px 6px rgba(0, 0, 0, 0.75);
  background-color: #d3c1d6f5;
  transform: scale(0.5) translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  z-index: 10;

  h1 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    &:hover {
      scale: 1.1;
    }
  }
}

.show-extend {
  transform: scale(1) translate(0%, 0%);
}

.hide {
  transition: all 0.2s;
  transform: scale(0) translate(0%, 0%);
}

// form {
//   gap: 1rem;
//   max-width: 400px;
//   margin: 2rem auto;
//   // border: 1px solid black;
//   padding: 1vw;
//   input,
//   select {
//     width: 100%;
//     padding: 0.5rem;
//     border-radius: 0;
//     margin: auto 1rem;
//     border: 1px solid #d3c1d6ff;
//   }
// }

.button-secondary.flex {
  max-width: 250px;
  gap: 0.5rem;
  h3 {
    color: #d3c1d6ff;
  }
  &:hover h3 {
    color: #290a30ff;
  }
}
